
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.item{
	width: 100px;
	height: 100px;
}
#1{
	background-color: green;
}
#2{
	background-color: red;
}
#3{
	background-color: blue;
}





